@CHARSET "ISO-8859-1";

ul.topnav {
	list-style: none;
	padding: 0 20px;
	margin: 0;
	float: left;
	width: 920px;
	background: #fff;
	font-size: 1.2em;
}
ul.topnav li {
	float: left;
	margin: 0;
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li a{
	padding: 10px 5px;
	color: #222;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	background:#fff url(../images/spindown-open.gif) no-repeat 10px center;
}
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	border: 1px solid #111;
	z-index: 50000;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
	z-index: 50000;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #fff url(../images/arrow3.gif) no-repeat 10px center;
	padding-left: 20px;
	z-index: 50000;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #fff url(../images/arrow3.gif) no-repeat 10px center;
}
.ui-dialog-titlebar-close {
	background: url("http://code.jquery.com/ui/1.10.3/themes/smoothness/images/ui-icons_888888_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
	border: medium none;
  }
  .ui-dialog-titlebar-close:hover {
	background: url("http://code.jquery.com/ui/1.10.3/themes/smoothness/images/ui-icons_222222_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
  }